.carimobil{
    padding-top: 70px;
}
img{
    max-width: 100%;
   
    /* height: 250px;
    object-fit: cover;
    object-position: center; */
}
.card {
    background: #ffff;
    border-radius: 8px;
    margin: 30px 10px 10px 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-color: white;
    padding: 20px;
    /* dibawah ini tambahan */
    /* height: 250;
    object-fit: cover;
    object-position: center; */
}
.card-description h3 {
    padding-top: 50px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.card-description .harga{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.card-description .deskripsi{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.card .btn{
    background: #5cb85f;
    border-radius: 2px;
    border: 0;
}
.card-thumbnail{
    padding: 10px;
}
