.carimobil{
    padding-top: 70px;
}
img{
    max-width: 100%;
}
.card {
    background: #ffff;
    /* height: 478px; */
    border-radius: 8px;
    margin: 30px 10px 10px 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-color: white;
}
.card-description h3 {
    padding-top: 50px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.card-description .harga{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.card-description .deskripsi{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.card .btn {
    background: #5cb85f;
    border-radius: 2px;
    border: 0;
}