
.main-wrapper  {
    background: #F1F3FF;
    padding-top: 150px;
    padding-bottom: 100px;
}
.wrapper-detail-payment {
    display: flex;
    justify-content: space-between;
}
.wrapper-pembayaran-right {
    display: flex;
}
.wrapper-pembayaran-right a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.wrapper-pembayaran-right img {
    width: 24px;
    height: 24px;
}
.wrapper-pembayaran-left {
    display: flex;
}
.method-payment {
    display: flex;
    margin-right: 10px;
}
.method-payment img {
    width: 18px;
    height: 1px;
    margin-top: 14px;
    margin-left: 7px;
}
.method-payment .payment-step {
    margin-right: 7px;
    padding-right: 7px;
    padding-left: 7px;
    background: white;
    border-radius: 50px;
    border: 1px solid black;
}
.method-payment .payment-step-1 {
    margin-right: 7px;
    color: white;
    padding-right: 7px;
    padding-left: 7px;
    background: blue;
    border-radius: 50px;
    border: 1px solid black;
}




.detail-order {
    position: relative;
    top: -40px;
}
.card-detail {
    padding: 10px;
}
.card-detail .judul-detail {
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.judul-detail-mobil {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.deskripsi-detail-mobil {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #8A8A8A;
}
.kotak-pembayaran {
    padding: 10px;
}
.menu-pembayaran {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.desk-menu-pembayaran {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.tipe-bank {
    display: flex;
}
.desk-bank {
    padding: 10px;
}
.tipe-bank .bni-bank{
    padding: 3px 20px 3px 20px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
}



.deskripsi-pesanan {
    padding: 10px;
    
}
.deskripsi-total {
    display: flex;
    justify-content: space-between;
}
.pesanan-kategori {
    color: #8A8A8A;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}






/* Breakpoint Responsive */
@media (max-width: 768px) {
    .wrapper-detail-payment {
        display: block;
    }
    .wrapper-pembayaran-right {
        margin-bottom: 20px;
    }
    .deskripsi-order {
        justify-content: space-between;
    }
}
@media (max-width: 991px) {
    .kotak-pembayaran {
        margin-bottom: 10px;
    }
}