.kotak-input{
    margin-bottom: 30px;
}
.wrapper-login-left {
    /* width: 80%; */
    margin: auto;
    margin-top: 100px;
}
.wrapper-login-left .grettings {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.kartu-email .judul-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.tombol .tombol-1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.wrapper-login-right img{
    width: 100%;
}


/* BREAKPOINT RESPONSIVE */
@media (max-width:992px) {
    .wrapper-login {
        margin-top: 0;
    }
}

@media (max-width:768px) {
    .wrapper-login-right {
        display: none;
    }
}

