form {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
    top: -40px;
    z-index: 1;
    background: #fff;
    justify-content: center;
    padding: 10px;
}
.kartu {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
    /* padding: 32px 2px 15px 0px; */
    margin-top: 2px;
}
.kartu-1 label{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
   
}
.kartu-2 label {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
}
.kartu-3 label {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
}
.judul{
    display: block;
    /* margin-top: 30px; */
}
.judul-2{
    display: block;
}
.judul-3{
    display: block;
}

.form-1 {
    width: 221px;
    height: 36px;
    margin-bottom: 30px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    margin-right: 15px;
}
.cari-mobil {
    margin-top: 23px;
}
.cari-mobil button{
    background: #5CB85F;
    border-radius: 2px;
    /* padding: 0 10px; */
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    
}


select:required:invalid {
    background: white;
  }
  select, option {
    background: white;
    color: #3C3C3C;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }


 
  /* breakpoint responsive */

  @media (max-width:1200px) {
    .form {
        flex-wrap: wrap;
    }
    .form-1{
        margin-right: 0;
    }
    
  }

  @media (max-width:992px) {
    .cari-mobil {
        margin: 0 0 15px 0;
    }
  }

  @media (max-width:768px) {
    .form-1 {
        margin-bottom: 0;
    }
    .kartu-3 label {
        margin-top: 0;
    }
    .kartu-3 {
        margin-bottom: 10px;
    }
    .cari-mobil {
        margin-top: 25px;
        margin-left: 2px;
    }
  }