form {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: auto;
    position: relative;
    top: -40px;
    z-index: 1;
    background: #fff;
}
.kartu {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
    padding: 10px;
}
.kartu-1 label{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
    padding: 10px;
}