.services{
    padding: 70px 15px;
  }
  .foto-services{
   /* margin-top: 20px; */
    width: 80%;
  }
  .foto-services img{
    width: 100%;
  }
  /* .tentang-services{
    padding-top: 30px;
  } */
  .tentang-services h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* padding-bottom: 20px; */
    margin-top: 20px;
  }
  
  .tentang-services p{
    margin-top: 0;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
   
  }
  .tentang-detail{
    display: flex;
    align-items: center;
    /* margin: 13px 0; */
  }
  .tentang-detail img{
    width: 24px;
    height: 24;
    margin-right: 10px
  }
  