.main-wrapper  {
    background: #F1F3FF;
    padding-top: 150px;
    padding-bottom: 100px;
}
.wrapper-detail-payment {
    display: flex;
    justify-content: space-between;
}
.wrapper-pembayaran-right {
    display: flex;
}
.wrapper-pembayaran-right a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.wrapper-pembayaran-right img {
    width: 24px;
    height: 24px;
}
.wrapper-pembayaran-left {
    display: flex;
}
.method-payment {
    display: flex;
    margin-right: 10px;
}
.method-payment img {
    width: 18px;
    height: 1px;
    margin-top: 14px;
    margin-left: 7px;
}
.method-payment .payment-step {
    margin-right: 7px;
    padding-right: 7px;
    padding-left: 7px;
    background: white;
    border-radius: 50px;
    border: 1px solid black;
}
.method-payment .payment-step-1 {
    margin-right: 7px;
    color: white;
    padding-right: 7px;
    padding-left: 7px;
    background: blue;
    border-radius: 50px;
    border: 1px solid black;
}


.order-id .order-number {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-left: 25px;
}

.main-content {
    display: flex;
}
.content-left {
    width: 70%;
}
.content-right {
    width: 30%;
}






.kelas-pembayaran {
    padding: 10px;
}
.kelas-pembayaran .judul {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.bagian1-kelas-pembayaran .judul-1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.kelas-pembayarankanan {
    padding: 10px;
}
.kelas-pembayarankanan img {
    width: 200px;
    height: 50px;
    margin-bottom: 14px;
}
.kelas-pembayarankanan .judul-kanan {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.kelas-pembayarankanan .tombol-kanan {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.lakukan-transfer {
    padding: 10px;
}
.lakukan-transfer .judul-lakukan-transfer {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.lakukan-transfer-bank {
    display: flex;
}
.lakukan-transfer-bank .opsi-1 {
    margin-right: 10px;
}
.opsi-1 .font {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.opsi-2 .font-1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.copy-thecode .detail-thecode {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}
.copas-thecode .title {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}
.copas-thecode .copy-thecode {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}
.instruksi-pembayaran {
    padding: 10px;
}
.instruksi-pembayaran .upside {
    font-size: 14px;
    font-weight: 700;
}
.instruksi-pembayaran .cara2pembayaran {
    display: flex;
    justify-content: space-around;
}
.cara2pembayaran {
    margin-top: 15px;
}
.cara2pembayaran .cara-1 {
    font-size: 14px;
    font-weight: 700;
}
.cara2pembayaran .cara-2 {
    font-size: 14px;
    font-weight: 400;
}
.instruksi-pembayaran .langkahpembayaran {
    font-size: 14px;
    font-weight: 400;
    color: #8A8A8A;
}
.masukan-buktitf {
    background-image: 'upload.png';
}

/* BREAKPOINT RESPONSIVE */
@media (max-width: 992px) {
    .top-button-navbar {
        display: block;
    }
    .top-button-ahead {
        margin-left: 20px;
    }
}