.testimonials .testi-judul{
    text-align: center;
    
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}
.testimonials .testi-deskripsi{
    text-align: center;
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.testi .card-testi{
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    background: #F1F3FF;
    padding: 50px 30px;
}
.card_kiri{
    margin: 20px;
}
.card_kanan{
    margin: 20px;
}
.card_kanan{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.kanan-penulis{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.tombol-geser .geser-kanan{
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    width: 32px;
    height: 32px;
}
.tombol-geser .geser-kanan:hover{
    background: #5CB85F;;
}

/* BREAKPOINT RESPONSIVE */
@media (max-width:767px) {
    .testi .card-testi{
        display: block;
    }
    .card-testi .card_kiri{
        display: flex;
        justify-content: center;
    }
    .faq-icon{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    .testi .card-testi{
        padding: 5px;
    } 
    .testimonials .testi-judul{
        font-size: 20px;
    }
    .testimonials .testi-deskripsi{
        width: 80%;
        margin: auto;
        font-size: 12px;
        padding-bottom: 20px;
    }
    
}
